@model Usuario
@{
    ViewData["Title"] = "Perfil";
}

<head>
    <title>Perfil</title>
</head>

<script src="https://kit.fontawesome.com/39a47b8673.js" crossorigin="anonymous"></script>

<section class="bio">
    <div class="teste">
        <div class="conteudoPerfil">
            <img src="~/img/Usuarios/@ViewBag.Perfil.ImagemPerfil" alt="">
            <div class="informacoes">
                <h1>@ViewBag.Perfil.Nome</h1>
                <div class="info">
                    <p>345 publicações</p>
                    <p>25 seguindo</p>
                    <p>3 MI seguidores</p>
                </div>
                <div class="info">
                    <p style="font-weight: bold;">@ViewBag.Perfil.NomeUsuario</p>
                    <a asp-area="" asp-controller="Perfil" asp-action="Deslogar">Sair</a>
                </div>
                <div class="EditarPerfil">
                    <a asp-area="" asp-controller="EdicaoPerfil" asp-action="Index">Editar perfil</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>

@if (ViewBag.Posts.Count == 0)
{
    <section>
        <div class="msgPost">
            <div>
                <i class="fas fa-camera"></i>
            </div>
            <p>Ainda não há publicações</p>
        </div>
    </section>
}
else
{
    <section class="postagens">
        <div class="publi">
            <i class="fas fa-th"></i>
            <p>Publicações</p>
        </div>

        @foreach (Post item in ViewBag.Posts)
        {
            <div class="posts">
                <img class="principal" src="~/img/Posts/@item.imagem" alt="">
                <div class="infoPost">
                    <div class="user">
                        <div class="UserPost">
                            <img class="imagemUser" src="~/img/Usuarios/@ViewBag.Perfil.ImagemPerfil" alt="">
                            <div class="NomeLocal">
                                <p style="font-weight: bold;">@ViewBag.Perfil.Nome</p>
                                <p>São Paulo, Brazil</p>
                            </div>
                        </div>
                        <div class="curtidas">
                            <div>
                                <a href="javascript:void(0)" onclick="Curtida()">
                                    <i id="teste" class="far fa-heart icon1"></i>
                                </a>
                                <i class="far fa-comment icon1"></i>
                            </div>
                            <p>235 curtidas</p>
                        </div>
                    </div>
                    <div class="boxComentarios">

                        <div class="comentarios">
                            <span>Usuário 1</span>
                            <p>Esse cara corre muito!</p>
                            <i class="far fa-heart icon2"></i>
                        </div>
                        <div class="comentarios">
                            <span>Usuário 2</span>
                            <p>O maior piloto de todos!</p>
                            <i class="far fa-heart icon2"></i>
                        </div>
                        <div class="comentarios">
                            <span>Usuário 3</span>
                            <p>Senna do Brasil!!!</p>
                            <i class="far fa-heart icon2"></i>
                        </div>
                    </div>
                    <div class="RestoComments">
                        <p>Ver todos os 433 comentários</p>
                    </div>
                </div>
            </div>
        }
    </section>
}
