 @model Usuario
    @{
        ViewData["Title"] = "Cadastrar";
    }

<div class="menu-cadastro">
            <img class="logo" src="~/Images/Logo.png" alt="">
            <div class="conteudo-cadastro">
                <h2 class="subtitulo">Cadastre-se para ver fotos e vídeos dos seus amigos.</h2>
                <p>&nbsp;</p>

                <form enctype="multipart/form-data" class="campo-texo"  method="POST" action='@Url.Action("Cadastrar")'>
                    <div>
                        <input type="text" required="required" class="preencher" placeholder="  E-Mail" name="E-Mail">
                    </div>
                    <div>
                        <input type="text" required="required" class="preencher" placeholder="  Nome Completo" name="NomeUsuario">
                    </div>
                    <div>
                        <input type="text" required="required" class="preencher" placeholder="  Nome de Usuário" name="NomeCompleto" >
                    </div>
                    <div>
                        <input type="password" required="required" class="preencher" placeholder="  Senha" name="Senha" >
                    </div>
                <div class="box-cadastre-se">
                    <button type="submit" class="cadastre-se">Cadastre-se</a>
                </div>
                </form>
                <p>&nbsp;</p>
                <p class="cookies">Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de
                    Cookies.
                </p>
            </div>
        </div>
        <div class="outro">
            <p class="tem-conta">
                Tem uma conta?
                <a asp-area="" asp-controller="Login" asp-action="Index" class="conecte-se">Conecte-se</a>
            </p>
        </div>
        <div class="obtenha-app">
            <p>Obtenha o aplicativo.</p>
        </div>
        <div>
            <a href="#" class="apps-store">
                <img width="133" height="39" src="~/Images/appstore.png" alt="appstore.icostore">
            </a>
            <a href="#" class="apps-store">
                <img width="133" height="39" src="~/Images/googleplay.png" alt="googleplay.icostore">
            </a>
        </div>