*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

header{
    background-color: white;
    margin-bottom: 40px;
    /* position: fixed; */
    width:  100%;
}

.container{
    width: 1200px;
    margin: 0px auto;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.logo_header {
    width: 145px;
    height: 35px;

}

.pesquisar_header{
    border: 1px solid gainsboro;
    width: 240px;
    height: 30px;
    text-align: center;
    background-color: #f8f8f8;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
}

.icones_nav {
    font-size: 25px;
    color: black;
}

.imagem_perfil{
    width: 35px;
    border-radius: 50%;
}

footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-top: 60px;
}